<div class="bg-white px-8 py-4 flex items-center justify-between border-b">
    <div class="flex items-center">
        {{ svg src="assets/svgs/chair.svg" class="mr-3 h-6 w-6" style="color:#ff5a60"}}
        <a href="" class="text-xl font-bold mr-8" style="color:#ff5a60">Chairbnb</a>
        <input type="search" placeholder="Search for a chair" class="border rounded px-4 py-2 text-sm w-96 shadow-sm">
    </div>
    <div class="flex items-center">
        <a href="/chairs" class="p-1 ml-4 text-base">Chairs</a>
        <a href="#" class="p-1 ml-4 text-base">About</a>
        <a href="https://www.airbnb.ca/" class="p-1 ml-3"><img src="/assets/airbnb.png" class="h-6" alt="airbnblogo"></a>
    </div>
</div>